{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	autojump
	bat
	curl
	deno
	fzf
	git
	git-delta
	jq
	nvm
	tldr
	wget
	yarn
	zsh-autosuggestions
	zsh-syntax-highlighting
)
casks=(
	aerial
	clipy
	google-chrome
	kap
	iterm2
	visual-studio-code
)

{{ if .work_device }}
	formulae+=(
		go-jira
		mitmproxy
		TomAnthony/brews/itermocil
		x3270
		zeplin
	)
	casks+=(
		beyond-compare
		bluejeans
		docker
		hex-fiend
		microsoft-teams
		p4v
		postman
		slack
	)
{{ end }}

brew update

brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup
{{ end }}
